@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --darkcyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --gray: hsl(0, 0%, 95%);
  --big: "Big Shoulders Display", cursive;
  --deca: "Lexend Deca", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  /* height: 100vh; */
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
  background: var(--gray);
}
.wrapper {
  width: 60%;
  margin: 20px;
  /* height: 80vh; */
  /* height: 100vh; */
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 2px solid yellow;

} */
.container img {
  width: 50px;
}
.container h1 {
  color: var(--gray);
  text-transform: uppercase;
  font-family: var(--big);
}
.container {
  /* border: 2px solid blue; */
  /* color: white; */
  height: 30em;
  display: flex;
  width: 18em;
  padding: 2.5em;
  font-size: 15px;
  font-family: var(--deca);
  flex-direction: column;
  /* align-content: space-around; */
  justify-content: space-around;
  /* display: flex;
  flex-direction: column; */
}
.container p {
  color: var(--white);
  line-height: 1.6em;
}
.container button {
  background: var(--gray);
  padding: 10px;

  border: 2px solid var(--gray);
  border-radius: 20px;
  /* border: none; */
  text-transform: capitalize;
  width: 10em;
}
.attribution{
    font-size: 15px;
    padding: 20px;
}
#orange {
  background: var(--orange);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
button:hover {
  background: transparent;
  color: white;
  border: 2px solid white;
}

#orange button {
  color: var(--orange);
}
#orange button:hover,
#cyan button:hover,
#d-cyan button:hover {
  color: white;
}
#cyan {
  background: var(--cyan);
}
#cyan button {
  color: var(--cyan);
}
#d-cyan {
  background: var(--darkcyan);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#d-cyan button {
  color: var(--darkcyan);
}

@media screen and (min-width: 1000px) {
  body {
    height: 100vh;
  }
  .wrapper {
    height: 90vh;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    /* height: auto; */
    width: 100%;
    /* height: 100vh; */
    /* padding-block: 120px; */
    /* border: 2px solid blue; */
  }

  #orange {
    background: var(--orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .container {
    height: 25em;
  }

  #d-cyan {
    background: var(--darkcyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom-right-radius: 10px; */
    border-top-right-radius: 0;
  }
}
